* {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10px;
}
.line {
  border-bottom: 3px dashed rgb(79, 70, 70);
  font-size: 30px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.left {
  margin-left: 10px;
}
.left-table {
  border-left: 2px solid rgb(171, 153, 153);
}
.table {
  padding: 20px;
}
div {
  color: rgb(167, 155, 155);
  padding-bottom: 7px;
}
