body {
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}
th {
  background-color: #007bff;
  color: white;
}
tr:nth-child(even) {
  background-color: #e1c7c7;
}
